.address_mod
	.address_wrapper 
		.address_icon 
			button(type="submit")
				img(src="i/search.svg", alt="Search icons")
		.address_inputWrapper 
			input(type="text", name="address" placeholder="Ваш адрес" value="ул. Героев-Разведчиков, д. 52/110")
	.header_delivery 
		p Доставка
		.header_delIcon 
			img(src="i/down.svg", alt="")