header.header#up
	.section_in
		.header_main
			.header_burger
				<svg viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2 7.5H18.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M2 2H13.9167" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M2 13H9.33333" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			.header_info
				a(href="/")  
					.header_logo 
						img(src="i/logo.jpg", alt="Logotype website")
					.header_delivery 
						p Доставка
						.header_delIcon 
							img(src="i/down.svg", alt="")
					.header_title Chicken Star
			.header_coinWrapper 
				.header_coin 312
				.header_coinIcon 
					img(src="i/coin.png", alt="Coin user")