.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-close {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-down {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
